h1 {
  color: black;
  font-size: 32px;
  text-align: center;
  font-style: italic;
}
 
h2 {
  color: blue;
  font-size: 18px;
  font-style: italic;
}
 
p {
  color: green;
  text-align: left;
  font-style: normal;
}

ul {
	list-style-type: circle;
}

dl {
  font-style: normal;
  font-size: 28px;
}